
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tags -->
    <!-- Title of the document -->
    <title>Fermetures Solutions</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <!-- /meta tags -->
    <!-- Owl Stylesheets -->
    <link rel="stylesheet" href="~/FrontEnd/ld/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/FrontEnd/ld/css/owl.theme.default.min.css">
    <!-- /Owl Stylesheets -->
    <!-- gallery css -->
    <link href="~/FrontEnd/ld/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
    <!-- font awesome css -->
    <link href="~/FrontEnd/ld/css/fontawesome-all.css" type="text/css" rel="stylesheet" media="all" />
    <!-- bootstrap css -->
    <link href="~/FrontEnd/ld/css/bootstrap.css" type="text/css" rel="stylesheet" media="all" />
    <!-- custom css -->
    <link href="~/FrontEnd/ld/css/style.css" type="text/css" rel="stylesheet" media="all" />
    <!-- Online google fonts -->
    <link href="//fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&amp;subset=cyrillic,latin-ext,vietnamese" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese"
          rel="stylesheet">
    <!-- /Online google fonts -->
</head>

<body>
    <!-- banner -->
    <div class="banner">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand">
                    <img src="~/FrontEnd/ld/images/logo.png" alt="about-image-agileits" class="img-fluid" /> Fermetures Solutions
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("Index","Home")">
                                Principale
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item ml-xl-2">
                            <a class="nav-link scroll" href="@Url.Action("Index","ClientUser")">Espace client</a>
                        </li>
                        <li class="nav-item ml-xl-2">
                            <a class="nav-link scroll" href="@Url.Action("Login","Login")">Espace Employé</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div id="container">
            <div id="message">
            </div>
        </div>
    </div>
    <!-- /banner -->
    <!-- services grids -->
    <section class="w3layouts-wrapper text-center py-5" id="section1">
        <div class="container py-lg-4">
            <header>
                <h3>Nos Services</h3>
            </header>
            <div class="w3ls-wrapper-content">
                <div class="row pt-lg-3">
                    <div class="agileits-s-grid col-lg-4 col-12 mt-5">
                        <h4 class="my-lg-4 my-sm-3 mt-3 mb-2">Etude technique</h4>
                        <p>FERMETURES SOLUTIONS réalise en amont une étude technique de faisabilité, analyse les contraintes et les besoins de chaque projet. Grâce à une parfaite expertise, LEADER FERMETURE est à même de proposer les solutions les plus ingénieuses pour garantir une circulation optimale et sécurisée. Ses techniciens vous orientent vers les produits les plus adaptés à votre utilisation et réalisent les aménagements nécessaires.</p>

                        <p>LEADER FERMETURE possède les ressources en interne pour assurer le suivi de votre projet,  de la conception en  passant par le suivi de la commande, la pose, le branchement, les réglages jusqu’à la réception définitive de vos équipements de fermetures.</p>

                        <p>LEADER FERMETURE se démarque également par la qualité de sa gamme de produits, ne cessant de l’étoffer pour mieux se positionner comme partenaire de référence des professionnels ainsi que des particuliers. Leader fermeture dispose de plusieurs  équipes de techniciens poseurs qui assurent l’installation et le dépannage.</p>
                    </div>
                    <div class="agileits-s-grid col-lg-4 col-12 mt-sm-5 mt-5">
                        <h4 class="my-lg-4 my-sm-3 mt-3 mb-2">Expertise</h4>
                        <p>LEADER FERMETURE s’appuie sur sa connaissance du marché et de ses marques pour proposer des solutions économiquement et techniquement viables et pérennes pour les systèmes de fermeture et/ou d’accès.</p>

                        <p>LEADER FERMETURE dispose aussi de techniciens spécialisés et qualifiés et d’une organisation éprouvée permettant d’agir avec rapidité et efficacité. Chacun possède une réelle expertise du dépannage et de la maintenance des portes sectionnelles, des portes collectives, des rideaux métalliques, des portes rapides souples ou rigides, des équipements de quai, des portes empilables, des portes spéciales et des portes de garage, des niveleurs de quais. Expérimentés, ils seront en mesure de proposer un produit et/ ou une solution pour chaque panne, quelle qu’elle soit et quel que soit le produit concerné.  Chaque poseur et chaque technicien  a dans son véhicule tout l’équipement nécessaire pour intervenir immédiatement et efficacement.</p>
                    </div>
                    <div class="agileits-s-grid col-lg-4 col-12 mt-5">
                        <h4 class="my-lg-4 my-sm-3 mt-3 mb-2">DEVIS GRATUITS</h4>
                        <p>Vous avez un projet, un besoin et les produits de LEADER FERMETURE vous intéressent ? Nos commerciaux et ADV sont à votre écoute pour vous conseiller sur le choix de la solution la plus adaptée, mais également pour vous fournir un devis entièrement personnalisé. Un membre de l’équipe commerciale vous répondra dans les plus brefs délais pour vous accompagner dans votre projet, et vous donner toutes les informations prix dont vous avez besoin.</p>
                    </div>
                </div>
                <div class="row pt-lg-3">
                    <div class="agileits-s-grid col-lg-4 col-12 mt-5">
                        <h4 class="my-lg-4 my-sm-3 mt-3 mb-2">Fabrication et solutions sur mesure</h4>
                        <p>Vous vous questionnez sur la pertinence de telle ou telle installation de porte, de fermeture, de menuiserie métallique, d’équipements ou même d’automatismes ? Vous souhaitez vérifier la mise aux normes de vos équipements ? Vous avez un projet d’aménagement et réfléchissez à l’intégration d’une ou plusieurs portes industrielles ? LEADER FERMETURE déploie ses technico-commerciaux et ses techniciens qualifiés confirmés sur l’ensemble du territoire Marocain. Ils réalisent ainsi un diagnostic sur mesure pour chaque problématique.</p>
                    </div>
                    <div class="agileits-s-grid col-lg-4 col-12 mt-5">
                        <h4 class="my-lg-4 my-sm-3 mt-3 mb-2">Service aprés vente</h4>
                        <p>Vous avez un problème et souhaitez qu’un professionnel certifié vienne vous dépanner? Votre porte industrielle ou votre rideau est en panne, connaît un dysfonctionnement?</p>

                        <p>Grace à son expérience dans l’installation, l’entretien et la réparation de portes industrielles et tous types de fermetures, l’équipe technique de LEADER FERMETURE se rend sur place très rapidement afin de remettre en service votre matériel. La réactivité est une valeur clé de LEADER FERMETURE. Nous savons combien une panne ou un défaut d’équipement peut impacter la productivité, la compétitivité et la sécurité de nos clients. En tant que partenaires des professionnels, nous avons développé une organisation interne qui nous permet d’intervenir dans les plus brefs délais.</p>
                    </div>
                    <div class="agileits-s-grid col-lg-4 col-12 mt-5">
                        <h4 class="my-lg-4 my-sm-3 mt-3 mb-2">Contrat d'entretien/maintenance</h4>
                        <p>LEADER FERMETURE s’assure du maintien de l’état de conservations et du bon fonctionnement des dispositifs de sécurité. Dans le cadre du contrat d’entretien, sont effectuées divers prestations telles que:   Examen et contrôle du fonctionnement général, vérification et réglage des parties mécaniques, établissement d’un devis en cas d’usure et avant  remplacement éventuel, nettoyage des rails et des poulies, vérification et réglage des appareillages électriques et électroniques et de sécurité : cellule, raccordement, etc.</p>

                        <p>Ainsi LEADER FERMETURE est en mesure d’assurer l’entretien de tous types de portes et fermetures automatiques et semi-automatiques et de proposer un contrat de maintenance.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /services grids -->
    <!-- about -->
    <section class="w3-about" id="section2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 wthree-abt-info">
                    <h2>A propos de nous</h2>
                    <p class="my-xl-4 my-lg-3 my-md-4 my-3">
                        Forte de son expertise,  LEADER FERMETURE est aujourd’hui l’un des acteurs majeurs du secteur de Fermeture au Maroc ; capable de faire face aux exigences les plus pointus des différents types de marchés jour après jour.

                        Elle intervient sur l’ensemble des produits de fermetures dédiés aux professionnels comme aux particuliers. L’expérience accumulée pendant plus de 12 ans dans les domaines de fermeture a menée LEADER FERMETURE à augmenter chaque année sa part de marché, devenant l’entreprise leader en fabrication et distribution des rideaux et portes métalliques.

                        Depuis sa création, les équipes de LEADER FERMETURE innovent, conçoivent, fabriquent et assurent la distribution de portes adaptées au secteur du bâtiment, industriel, logistique, commerces, agroalimentaire, pharmaceutique, hospitalier hôtellerie et bureaux. C’est une entreprise en pleine croissance de l’industrie du second œuvre opérant dans le domaine de la fermeture pour résidences, commerces et industries.

                        Un savoir-faire reconnu, une connaissance pointue des produits mais aussi des matériaux et des usages, ainsi que les ressources techniques requises : autant d’atouts qui permettent d’offrir des prestations de haute qualité et de relever les défis techniques, économiques et financiers de chaque demande.
                    </p>

                </div>
                <div class="col-lg-6 p-0">
                    <img src="~/FrontEnd/ld/images/abt.jpg" alt="about-image-agileits" class="img-fluid" />
                </div>
            </div>
        </div>
    </section>

    <!-- Contact section -->
    <section class="contact content-section" id="section8">
        <div class="container">
            <header class="w3-heading py-lg-5 pt-5 text-center">
                <h3>Contacter Nous</h3>
            </header>
            <!-- //end heading -->
            <div class="row form-container py-3">

                <div class="col-md-8 contact-form">
                    <form id="contactForm" method="post" action="#">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Votre nom ..." value="" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Votre email..." value="" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Votre Téléphone..." value="" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="4" name="message" placeholder="Votre Message..." required></textarea>
                        </div>
                        <div class="form-group">
                            <button type="btn" name="bt" class="btn btn-default" href="mailto:Administration@fermetures-solutions.ma">
                                <i class="fa fa-paper-plane fa-fw"></i> Envoyer
                            </button>
                        </div>
                    </form>
                </div>
                <!-- /.contact-form -->

                <div class="col-md-4 agile-w3ls-contact-address mt-sm-4 mt-0">
                    <h4 class="mb-4">Adresse</h4>
                    <address>
                        <p class="my-3 d-flex">
                            <i class="fa fa-map-marker fa-fw mr-2"></i>
                            <label>Lot El Massar n97, Route de Safi, Marrakech 40000</label>
                        </p>
                        <ul>
                            <li class="my-3">
                                <i class="fa fa-envelope fa-fw mr-2"></i>
                                <a href="mailto:Administration@fermetures-solutions.ma">Administration@fermetures-solutions.com</a>
                            </li>
                            <li class="my-3">
                                <i class="fa fa-phone fa-fw mr-2"></i>+212657539555
                            </li>
                        </ul>
                    </address>
                </div>
                <!-- /.contact-address -->

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->

        <div class="container-fluid w3-agile-google-map pt-5">
            <div class="row">
                <iframe class="w-100" src="https://www.google.com/maps/d/u/0/embed?mid=1BHXUFtaRsfiuWW0Z9WBYvL5lTmc9PB2K" "
                        style="border:0" allowfullscreen></iframe>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->

    </section>

    <!-- Footer -->
    <!-- /.container -->

    <a href="#" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>
    </footer>
    <!-- /.footer -->

    <script src="~/FrontEnd/ld/js/jquery-3.2.1.min.js"></script>
    <script src="~/FrontEnd/ld/js/index.js"></script>
    <!-- stats -->
    <script src="~/FrontEnd/ld/js/jquery.waypoints.min.js"></script>
    <script src="~/FrontEnd/ld/js/jquery.countup.js"></script>

    <!-- owl carousel -->
    <script src="js/owl.carousel.js"></script>

    <!-- start-smooth-scrolling -->
    <script src="~/FrontEnd/ld/js/move-top.js"></script>
    <script src="~/FrontEnd/ld/js/easing.js"></script>

    <!-- jQuery-Photo-filter-lightbox-Gallery-plugin -->
    <script src="~/FrontEnd/ld/js/jquery-1.7.2.js"></script>
    <script src="~/FrontEnd/ld/js/jquery.quicksand.js"></script>
    <script src="~/FrontEnd/ld/js/script.js"></script>
    <script src="~/FrontEnd/ld/js/jquery.prettyPhoto.js"></script>
    <!-- //jQuery-Photo-filter-lightbox-Gallery-plugin -->


    <script src="~/FrontEnd/ld/js/bootstrap.js"></script>
    <!-- video js file -->
    <script src="~/FrontEnd/ld/js/jquery.vide.min.js"></script>
    <!-- /video js file -->
    <!-- custom js file -->
    <script src="~/FrontEnd/ld/js/universe.js"></script>
    <!-- /custom js file -->

</body>

</html>

