
<!--
    Author: W3layouts
    Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">
<!--/Head-->
<head>
    <title>Upward Error Page Flat Responsive Widget Template : W3layouts</title>
    <!-- Meta-Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/FrontEnd/404/css/style.css" type="text/css" media="all">
    <!--/google-fonts-->
    <link href="//fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <!--//google-fonts-->
</head>
<!-- //Head -->
<!-- Body -->
<body>
    <!-- 404 error page -->
    <!--/Error-Page-->
    <section class="w3l-errorhny-main">
        <div class="w3l-errorhnyhny-content">
            <h1 aria-label="404"></h1>
            <div class="errorhnyhny-info">
                <h2 class="err-text">Page introuvable</h2>
                <p>Cette page est introuvable ou bien vous n'avez pas droit a y acceder</p>
            </div>
        </div>

    </section>
    <!--//Error-Page-->

</body>
<!-- //Body -->
</html>