@model Projet_de_fin_de_formation.Depatement

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}


<h3>Est ce que vous voulez vraiment supprime ce département?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
      

        <dd>
            @Html.DisplayFor(model => model.nomDepartement)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-danger" /> |
            @Html.ActionLink("liste des départemnts", "Index")
        </div>
    }
</div>
