@model IEnumerable<Projet_de_fin_de_formation.Depatement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<h2>Liste des départements</h2>


<table class="table">
    <tr>
        <th>
            <label for="nomDepartement" >Departement:</label>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomDepartement)
        </td>
        <td>

            <button type="button" class="btn btn-outline-warning" onclick="location.href='@Url.Action("Edit",new { id=item.idDepartement })'">Modifier</button>

            <button type="button" class="btn btn-outline-danger" onclick="location.href='@Url.Action("Delete",new { id=item.idDepartement })'">Supprimer</button>
        </td>
    </tr>
}

</table>
