@model Projet_de_fin_de_formation.Chantier

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<h2>Voulez vous vraiment supprimer ce chantier?</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomChantier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomChantier)
        </dd>

   

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-danger" /> |
            @Html.ActionLink("liste des chantiers", "Index")
        </div>
    }
</div>
