@model IEnumerable<Projet_de_fin_de_formation.DemangdeAug>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<script>

</script>
<h2>Demandes d'augementation de salaire</h2>


<table class="table">
    <tr>
        <th>
            <label>Employé</label>
        </th>
        <th>
            Statut
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.EmployeeTable.PrenomEmp)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.etat)
    </td>
    <td>
        <button type="button" class="btn btn-outline-success" onclick="location.href='@Url.Action("Details",new { id=item.idDemande })'">voir</button>
        <button type="button" class="btn btn-outline-danger" onclick="location.href='@Url.Action("Delete",new { id=item.idDemande })'">Supprimer</button>
        

    </td>
</tr>
}

</table>
